.container{

    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold; 
}

#rollButton{
  font-size: 1.5em;
  padding: 10 px 15 px;;
  border-radius: 10px;
  border: none;
  background-color: rgb(50, 50, 204);
  color: white;
  font-weight: bold;
  cursor: pointer;

}
#rollButton:hover {
  background-color: rgb(114, 114, 217);

}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;


}
